<suite name="Suite">
	<listeners>
		<listener class-name="listenerPackage.Listneres" />
		<listener class-name="listenerPackage.AnnotationTransformer" />
		<listener class-name="listenerPackage.IReport" />
		<listener class-name="io.qameta.allure.testng.AllureTestNg" />
	</listeners>
	<test name="Run the Test using include method">
		<classes>
			<class name="Test_Layer.homepagetest" />
			<methods>
				<include name="verifytitle">/</include>
			</methods>
			<class name="Test_Layer.logintest" />
			<methods>
			<include name = "loginFunctionality">/</include>
			</methods>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
